$color-primary: #f68903;
$color-primary-light: #fbbd72;
$color-secondary: #000000;
$color-secondary-light: #808080;
$color-third: #ebf5ff;
$phone: '(max-width: 576px)';
$phone-max-height: '(max-height: 400px)';
$tablet: '(max-width: 991px)';
$tablet-min: '(min-width: 577px)';
$desktop: '(min-width: 992px)';
$navbar-height: '4rem';
$box-shadow: 0 0 10px 1px rgba(0,0,0,.1);
$box-shadow-focus: 0 0 0 3px $color-primary;
